/* Fixes hopping of navbar while opening modals */
.navbar {
	width:100vw;
	overflow-x:hidden;
}

/* Paddings */
.p-t-3 {
	padding-top: 3em;
}

.p-t-6 {
    padding-top: 6em;
}

.p-t-9 {
    padding-top: 9em;
}

/* Fixes offset when using responsive iframe */
.caption {
	top: 0px;
}

.box-shadow {
	-webkit-box-shadow: 0px 0px 90px 13px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 90px 13px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 90px 13px rgba(0,0,0,0.5);
}

.text-shadow {
	text-shadow:0px 0px 10px #333333;
}

/* Prevents huge pictures */
.profile-picture-small {
	max-width: 256px;
	border: 10px solid rgba(255, 255, 255, .5);
	border
}

/* Disables link */
a.disabled {
	pointer-events: none;
}

/* Large embed fullscreen */
.embed-responsive-fullscreen {
	position: absolute;
	top: -25%;
	left: 0;
	width: 100%;
	height: 90vw;
}

@media only screen
and (orientation: portrait)
and (max-device-width : 1000px) {
	.embed-responsive-fullscreen {
		top: -10vw;
		width: 100%;
	}
}

@media only screen
and (orientation: portrait)

and (max-device-width : 520px) {
	.embed-responsive-fullscreen {
		display: none;
	}
}

#portfolio {
	position: relative;
	background-color: #fff;
	padding: 30px 0 ;
}
