
/* Fixes offset when using responsive iframe */
.caption {
	top: 0px;
}

/* Prevents huge pictures */
.profile-picture-small {
	max-width: 256px;
	border: 10px solid rgba(255, 255, 255, .5);
	border
}

/* Disables link */
a.disabled {
    pointer-events: none;
}
